<div class="content">
  <button ng-click="order = 'name'">Ranger par nom</button>
  <button ng-click="order = 'saison'">Ranger par saison</button>
  <button ng-click="order = 'mois'">Ranger par mois</button>
  <input type="text" ng-model="search"/>

     <ul id="veg-list">
        <li ng-repeat="vege in vegetables | orderBy: order | filter : search" ng-show="vege.available">
          <img ng-src="{{vege.thumb}}" style="margin: -12px 10px 0 0; float: left;width: 50px;"
                ng-show="vege.thumb"/>
          <h3>  {{vege.name}} </h3>
          <span class="belt ng-binding" ng-repeat="sais in vege.saison track by $index" id={{sais}} >{{sais}}</span><br>
          <span class="belto ng-binding" ng-repeat="mois in vege.mois track by $index" id={{mois}}  >{{mois}}</span>

        </li>
    </ul>
</div>
