
<div class="content" style="text-align:center">
  <h1>Bienvenue</h1>
    <h3>Choisissez bien vos fruits et légumes !</h3>
    <h3>Car ils sont meilleurs de saison !</h3>
    <div class="row">

        <div class=" col-md-offset-3 col-md-2"><random-vegetable  vegetables="vegetables" >
        </random-vegetable></div>
        <div class="col-md-2"><random-vegetable  vegetables="vegetables" >
        </random-vegetable></div>
        <div class="col-md-2"><random-vegetable  vegetables="vegetables" >
        </random-vegetable></div>
    </div>
    <p>La mono-culture de masse des fruits et légumes nous à fait croire que l'on pouvait manger
        des tomates en décembre et du potiron en mai. Mais outre le fait que ces légumes " de batterie"
        soient insipides, ils sont de plus gourmands en eau et sont bien-entendu gavés de produits chimiques.
        Si vous voulez eviter de manger trop de pesticides, fertilisants et autres insecticides, il vaut
        mieux manger des légumes de saisons et surtout <b>locaux</b>.
    </p>
</div>
