<div class="content">
    <h1>Légumes du mois de :</h1>

<div class="row">
        <button ng-click="search = 'janvier'">Janvier</button>
        <button ng-click="search = 'février'">Février</button>
        <button ng-click="search = 'mars'">Mars</button>
        <button ng-click="search = 'avril'">Avril</button>
        <button ng-click="search = 'mai'">Mai</button>
        <button ng-click="search = 'juin'">Juin</button>
        <button ng-click="search = 'juillet'">Juillet</button>
        <button ng-click="search = 'août'">Août</button>
        <button ng-click="search = 'septembre'">Septembre</button>
        <button ng-click="search = 'octobre'">Octobre</button>
        <button ng-click="search = 'novembre'">Novembre</button>
        <button ng-click="search = 'décembre'">Décembre</button>
</div>

<br>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2" ng-repeat="vege in vegetables | orderBy : 'mois' | filter : search"  >
            <img ng-src="{{vege.thumb}}" ng-show="vege.thumb" style="height: 100px;width: 100px"/>
            <p>{{vege.name}}</p>
        </div>
    </div>
</div>
</div>
