<div class="content">
    <h1>Légumes de la saison de :</h1>

    <div class="row">
        <button ng-click="search = 'hiver' ">Hiver</button>
        <button ng-click="search = 'printemps' ">Printemps</button>
        <button ng-click="search = 'ete' ">Eté</button>
        <button ng-click="search = 'automne' ">Automne</button>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="col-sm-3 col-md-2" ng-repeat="vege in vegetables | orderBy : 'mois' | filter : search"  >
                <img ng-src="{{vege.thumb}}" ng-show="vege.thumb" style="height: 100px;width: 100px"/>
                <p>{{vege.name}}</p>
            </div>
        </div>
    </div>
</div>
